{% extends "base.html" %}
{% block header %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="row">
    <h1 style="text-align: center;">List bought items</h1>
    <div id="outwrapper">
        <div class="row">
        {% for item in itemsbought %}
            <h3>{{ item.itemname }}: {{ item.count }}x, Price: {{ item.itemprice/100 }}&euro;, Sum: {{ (item.itemprice * item.count)/100 }}&euro;</h3>
        {% endfor %}
        </div>
        {% for user in users %}
        <div class="row">
            {{ user.uname }}, {{ user.iname }}: {{ user.cnt }}, Price: {{ (user.price/100) * user.cnt }}&euro;
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
