{% extends "base.html" %}
{% block header %}
  {{ super() }}
{% endblock %}

{% block content %}
<div class="row">
    <div id="outwrapper">
      <form method="post" action="">
        <input type="submit" class ="btn" value="Importieren">
        {% for student in tstudents %}
        <div id="namewrapper">
            {{ student.name }}
            <input class="check" name="{{ student.id }}"
                   type="checkbox" checked="">
        </div>
        {% endfor %}
      </form>
    </div>
</div>
{% endblock %}
